/*Landing Page*/

.landing-page {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1px;
    color: #FB4305;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(133, 160, 182, 0.3);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 7.5rem;
}

h2 {
    font-family: 'Dosis', sans-serif;
}



/*Landing Page*/


/*Cities container*/
/*Cities container*/


/*Contact container*/
/*Contact container*/