html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #070C1E;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #FB4305;
}

.navbar-brand {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #234099;
}

.nav-link, .bar-icon {
    color: #234099 
}

.nav-item {
    margin: 0 20px;
}
/* Navbar */

/* Landing Page */
.landing-page, .contact {
    background-image: url("../images/big-ben-bg.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    position: relative;
}

.landing-page {
    height: 100vh;
}

.landing-text {
    margin-top: 30px;
    padding: 25px 25px;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #FB4305;
    text-shadow: 2px 2px 1px #234099;
    padding-bottom: 2rem;
}

.landing-text > h2 {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-color: rgba(251, 66, 5, 0.5);
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

/* Landing Page */


/* Cities container */
.cities {
    background-image: url("../images/cities-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 30px;
    overflow: auto;
}

.cities > h2 {
    color: #234099;
    margin-top: 35px;
    padding-bottom: 15px;
}

.cities-content {
    max-width: 2000px;
    margin: auto;
}

.cities-images {
    background-size: cover;
    min-height: 300px;
    width: auto;
}

.city-div {
    border: 2px solid #234099;
    margin: 10px;
    transition: all .3s ease-in-out;
}

.city-div:hover {
    border: 2px solid #285871;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.cities-images ~ p {
    color: #234099;
    margin: 5px;
}

#paris {
    background-image: url("../images/paris.jpg");
}

#london {
    background-image: url("../images/london-unsplash.jpg");
}

#prague {
    background-image: url("../images/prague-unsplash.jpg");
}

#vienna {
    background-image: url("../images/vienna.jpg");
}

#athens {
    background-image: url("../images/athens-unsplash.jpg");
}

#rome {
    background-image: url("../images/rome.jpg");
}

#stockholm {
    background-image: url("../images/stockholm-unsplash.jpg");
}

#dublin {
    background-image: url("../images/dublin.jpg");
}

#helsinki {
    background-image: url("../images/helsinki-unsplash.jpg");
}
/* Cities container */

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1090;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(33, 79, 104, 0.9);
}

.modal-content {
    background-image: url("../images/cities-bg.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.modal-content h2 {
    color: #234099;
    padding-bottom: 10px;
}

.modal-text {
    text-align: justify;
}

.modal-map {
    min-height: 360px;
}

.modal-close {
    color: #234099;
    float: right;
    font-size: 35px;
}

/* Modals */


/* Contact container */
.contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 64, 153, 0.40);
}

.contact-content {
    position: relative;
    z-index: 1;
    color: #FB4305;
    text-shadow: 1px 1px 1px #234099;
    max-width: 1000px;
    margin: 35px auto;
    padding-left: 5px;
    padding-right: 5px;
}

.contact-content h2 {
    padding: 30px;
}

.input-field {
    border: 1px solid #FB4305;
}

.form-button {
    color:  #FB4305;
    background-color: #234099;
    margin-bottom: 15px;
}

.form-button-sent {
    color: #234099;
    background-color: #FB4305;
    margin-bottom: 15px;
}

.form-button:hover {
    color:  #FB4305;
    background-color: #15265B;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* Contact container */

/* Footer */
.page-footer {
    display: block;
    bottom: 0;
    width: 100%;
    background-color: #FB4305;
    color: #234099;
}

.footer-container {
    padding: 5px;
    text-align: center;
}

.sm-icons {
    color: #234099;
    padding: 10px;
}

.sm-icons:hover, .navbar-brand:hover, .nav-link:hover, .modal-close:hover {
    color: #15265B;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* Footer */


/* Media Queries */

@media only screen and (max-width: 991px) {

    .landing-page, .contact {
        background-attachment: scroll;
    }

    .modal-text {
        padding-top: 10px;
    }


}

@media only screen and (min-height: 825px) {

    .landing-text {
        padding: 75px 100px;
    }

    .contact {
        height: 80vh;
    }

    footer {
        height: 20vh;
    }
}

@media only screen and (min-width: 992px) {

    .modal-content {
        height: 80%;
    }
    
    .modal-content h2 {
        padding-bottom: 20px;
    }

    .modal-map {
        min-height: 500px;
    }
}