/*Landing Page*/

.landing-page {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1px;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(133, 160, 182, 0.3);
}

.landing-text {
    padding: 25px 25px;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #FB4305;
    text-shadow: 1px 1px #326E8E;
    padding-bottom: 2rem;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #FB4305;
    text-shadow: 1px 1px #326E8E;
}

/*Landing Page*/


/*Cities container*/
.cities {
    background-image: url("/assets/images/cities-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 1px;
    color: #FB4305;
    overflow: auto;
}
/*Cities container*/


/*Contact container*/
/*Contact container*/