.landing-page {
    background-image: url("assets/images/ternarygradient.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    color: yellow;
}

h2 {
    color: green;
}